body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo {
  opacity: 0;
  width: 100vw;
  height: 100vh;
}

.photo > a > img {
  object-fit: cover;
}

.photo > a > img, .photo > a {
  display: block;
  width: inherit;
  height: inherit;
}

.msg {
  position: absolute;
  display: inline-block;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  left: calc(50% - 100px);
  top: calc(50% - 1.5rem);
}

.fade-in, .fade-out {
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.fade-in { animation-name: fadeIn; }
.fade-out { animation-name: fadeOut; }

@keyframes fadeOut {
  to { opacity: 0; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}